.App {
  text-align: center;
  height: 100vh;
}

.title {
  border: 5px solid rgb(150, 150, 4);
}

.messagesWrapper {
  border: 5px solid green;
}

.onlineUsers {
  border: 5px solid red;
}

.messageForm {
  border: 5px solid blue;
}
